<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!onWelcomePage && (isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>
        <button mat-button color="primary" (click)="logout()">Current Game</button>
      </a>
      <a mat-list-item>
        <button mat-button (click)="logout()">Recently closed game</button>
      </a>
      <a mat-list-item>
        <button mat-button color="primary" (click)="navigate('home')">Dashboard</button>
      </a>
      <a mat-list-item>
        <button mat-button color="accent" (click)="logout()">Account</button>
      </a>
      <a mat-list-item>
        <button mat-button color="warn" (click)="logout()">Logout</button>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span (click)="navigate('welcome')">{{ title }}</span>
      <!-- <span (click)="navigate('welcome', true)">{{ title }}</span> -->

      <span class="fill-space"></span>

      <div class="theme">
        <button mat-icon-button id="theme-selector" [mat-menu-trigger-for]="themeMenu"
          i18n-matTooltip="@@Select-a-theme" matTooltip="Select a theme!" tabindex="-1">
          <mat-icon class="auto-flip">format_color_fill</mat-icon>
        </button>

        <mat-menu #themeMenu="matMenu">
          <mat-checkbox [checked]="isThemeDark" (click)="$event.stopPropagation()" (change)="toggleDarkness()"
            class="mat-menu-item theme-selector-is-dark" i18n="@@Dark">Dark
          </mat-checkbox>

          <mat-grid-list cols="2" class="theme-selectors-container">
            <mat-grid-tile *ngFor="let theme of themes">
              <button mat-button class="theme-selector" (click)="$event.stopPropagation(); setTheme(theme)">
                <div [attr.class]="theme + ' theme-primary center'">
                  <div [attr.class]="theme + ' theme-accent'"></div>
                  <div [attr.class]="theme + ' theme-warn'"></div>
                  <mat-icon *ngIf="activeTheme===theme" class="center theme-check">check</mat-icon>
                </div>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-menu>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
